/*initialize*/
body,div,h1,h2,h3,h4,h5,h6,p,td,tr,form,ul,ol,li,dl,dt,dd,input,button,textarea{margin:0;padding:0}
table,caption,tr,td,th{border-collapse:collapse;border-spacing:0;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
fieldset,img{border:none}
ul,ol,li{list-style:none;vertical-align:bottom}
a,a:link,a:visited,a:hover,a:active{text-decoration:none}
.clear{clear:both}
.clearfix:after{display:block;content:"";clear:both;height:0}
.clearfix{*zoom:1}
body{font: 14px/50px "Microsoft YaHei",simsun,Arial,sans-serif;}
/*reset*/
.bg-reset{
    background-color: #fff;
}
.ui-content,.ui-panel-inner{
    padding: 0;
}
.header{
    width: 100%;
    height: 45px;
    background: #002f71 url('../images/logo.gif') no-repeat right center;
}
.btnNav{
    display: block;
    width: 45px;
    height: 45px;
    background:#0B2133 url("../images/btnNav.jpg") no-repeat center center;
}
ul.slide{
    text-align: center;
}
ul.slide li img{
    display: block;
    width: 100%;
}